/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-image: url(../img/texture-light.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

.content-box {
	background-color: #FFF;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px;
	box-shadow: 5px 5px 5px #CCC;
}

.logo {
	float: left;
	margin-right: 20px;
}

.company-name {
	font-family: 'Boogaloo', sans-serif;
	font-size: 36px;
	color: #116189;
	margin: 10px 0px;
}

.motto {
	font-style: italic;
	font-size: 120%;
}

nav {
	margin: 20px 0px 20px 0px;
	display: block;
	background-color: #D74710;
	border-radius: 5px;
	padding: 10px 0px;
}

nav li {
	display: inline-block;
	font-size: 120%;
	font-weight: bold;
}

nav a  {
	text-decoration: none;
	color: #FFF;
	padding: 5px 10px;
}

nav a:hover{
	background-color: #FF9D45;
	border-radius: 5px;
}

p {
	margin: 10px 0px 20px 0px;
}

.factory {
	float: left;
	padding-right: 20px;
}

.shipping {
	float: right;
	padding-left: 20px;
}

.footer {
	clear: both;
	font-style: italic;
	font-size: 80%;
	border-top: solid;
	border-width: 1px;
	border-color: #999;
	margin-top: 30px;
}

.footer a {
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}